/* * All lists are in alphabetical order * */

/* * ELEMENTS * */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background-color: #141414;
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
}

header {
  width: 100%;
  height: 68px;
  position: fixed;
  background: rgb(20,20,20);
  background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(6,6,6,1) 100%);
}

main {
  padding-top: 148px;
}

/* * CLASSES * */

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 90%;
  margin: auto;
}

.float-lx {
  float: left;
}

.float-rx {
  float: right;
}

.header-left {
  height: 68px;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left img {
  height: 25px;
}

.header-left li {
  height: 25px;
  display: inline-block;
  padding: 0 10px;
}

.header-right {
  padding-top: 18px;
  /* background-color: #555; */
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right i {
  font-size: 22px;
  padding: 0 10px;
  cursor: pointer;
}

.item-card {
  width: 300px;
  height: 169px;
  margin: 10px 0;
  /* background-color: #333; */
  text-align: center;
  position: relative;
  overflow-y: auto;
}

.item-card-img.active {
  position: absolute;
  top: 0;
  left: 0;
}

.item-card-img.active,
.item-card-title.active {
  display: block;
}

.item-card-info {
  display: none;
}

.item-card-img,
.item-card-title {
  display: none;
}

.item-card-info.active {
  display: inline-block;
}

.item-card-noimg {
  visibility: hidden;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 14px;
}

.item-card-noimg.active {
  visibility: visible;
}

.item-card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

.item-card li {
  list-style-type: none;
}

.primary-search {
  /* background-color: purple; */
  width: 22px;/*250px*/
  height: 32px;
  border: none;/*1px solid #fff*/
  padding: 3px;
}

.primary-search i {
  font-size: 22px;
}

.results-display-header {
  margin-bottom: 20px;
  /* background-color: blue;*/
  width: 100%;
}

.results-display-header {
  opacity: 0;
}

.results-display-header.active {
  opacity: 1;
}

.results-display-header-left {
  /* background-color: purple; */
  width: 160px;
  color: #808080;
  font-size: 14px;
  font-weight: 500;
}

.results-display-header-right {
  /* background-color: green; */
  width: calc(100% - 160px);
}

.results-display-header-right a {
  padding: 2px 10px;
}

.results-display-header-right a:not(:last-of-type) {
  border-right: 1px solid #808080;
}

/*TRY FLOATING EVERYTHING IN HEADER-RIGHT?*/

.searchbar {
  width: 150px;
  height: 22px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.searchbar::placeholder {
  font-size: 12px;
  color: #fff;
}

/* * IDs * */

#error-display {
  display: none;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 100px;
}

#error-display.active {
  display: block;
}

#logo-ref {
  margin-right: 20px;
}

#results-display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
